.och__api-info-wrapper {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
    padding: 5px 10px;
    background-color: yellow;
    border-radius: 5px;
    opacity: 0.4;
    pointer-events: none;
}
